<div class="bottom">
    <nav class="navbar navbar-dark navbar-expand-lg  ">
        <div class="navbar-nav justify-content-between align-items-center w-100 py-1">
            <div class="nav-item nav-link  justify-content-end">Inversiones Pickcommodities, C.A. | RIF: J-412853619
            </div>
            <div class="nav-item nav-link">Developed by : <img src="../../assets/img/k_log.png" alt="krewbit"> </div>
        </div>
    </nav>
</div>