
@font-face {
    font-family: 'aileronsregular';
    src: url('ailerons-typeface-webfont.woff2') format('woff2'),
         url('ailerons-typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'primeregular';
    src: url('prime_regular-webfont.woff2') format('woff2'),
         url('prime_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aileronheavy_italic';
    src: url('aileron-heavyitalic-webfont.woff2') format('woff2'),
         url('aileron-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aileronlight';
    src: url('aileron-light-webfont.woff2') format('woff2'),
         url('aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}