<div class="top">
    <nav class="navbar navbar-dark navbar-expand-lg justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item ">
                    <div class="nav-link" href="https://www.instagram.com/pickcommodities/?hl=es-la"><i
                            class="fab fa-instagram fa-lg"></i> @pickcommodities</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" href="mailto:pickcommodities@gmail.com" target="_blank"
                        rel="noopener noreferrer"> <i class="far fa-envelope fa-lg"></i>
                        pickcommodities@gmail.com </div>
                </li>
                <li class="nav-item">
                    <div onclick="copyTo()" class="nav-link"><i class="fab fa-whatsapp fa-lg" disabled></i> <span
                            style="font-size: 12px;"> 57 301 216.52.42</span> </div>
                </li>
            </ul>
        </div>
    </nav>
</div>