/*--------------------------------
nc-demo_glyph Web Font - built using nucleoapp.com
License - nucleoapp.com/license/
-------------------------------- */
@font-face {
    font-family: 'nc-demo_glyph';
    src: url('../fonts/nc-demo_glyph');
    src: url('../fonts/nc-demo_glyph.eot') format('embedded-opentype'), url('../fonts/nc-demo_glyph.woff2') format('woff2'), url('../fonts/nc-demo_glyph.woff') format('woff'), url('../fonts/nc-demo_glyph.ttf') format('truetype'), url('../fonts/nc-demo_glyph.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }
    /*------------------------
    base class definition
    -------------------------*/
    .nc-icon {
    display: inline-block;
    font: normal normal normal 14px/1 'nc-demo_glyph';
    font-size: inherit;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    /*------------------------
    change icon size
    -------------------------*/
    .nc-icon.lg {
    font-size: 1.33333333em;
    vertical-align: -16%;
    }
    .nc-icon.x2 {
    font-size: 2.3em;
    }
    .nc-icon.x3 {
    font-size: 3em;
    }
    /*----------------------------------
    add a square/circle background
    -----------------------------------*/
    .nc-icon.square,
    .nc-icon.circle {
    padding: 0.33333333em;
    vertical-align: -16%;
    background-color: #eee;
    }
    .nc-icon.circle {
    border-radius: 50%;
    }
    /*------------------------
    list icons
    -------------------------*/
    .nc-icon-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
    }
    .nc-icon-ul > li {
    position: relative;
    }
    .nc-icon-ul > li > .nc-icon {
    position: absolute;
    left: -1.57142857em;
    top: 0.14285714em;
    text-align: center;
    }
    .nc-icon-ul > li > .nc-icon.lg {
    top: 0;
    left: -1.35714286em;
    }
    .nc-icon-ul > li > .nc-icon.circle,
    .nc-icon-ul > li > .nc-icon.square {
    top: -0.19047619em;
    left: -1.9047619em;
    }
    /*------------------------
    spinning icons
    -------------------------*/
    .nc-icon.spin {
    -webkit-animation: nc-icon-spin 2s infinite linear;
    -moz-animation: nc-icon-spin 2s infinite linear;
    animation: nc-icon-spin 2s infinite linear;
    }
    @-webkit-keyframes nc-icon-spin {
    0% {
    -webkit-transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    }
    }
    @-moz-keyframes nc-icon-spin {
    0% {
    -moz-transform: rotate(0deg);
    }
    100% {
    -moz-transform: rotate(360deg);
    }
    }
    @keyframes nc-icon-spin {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }
    /*------------------------
    rotated/flipped icons
    -------------------------*/
    .nc-icon.rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    .nc-icon.rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    }
    .nc-icon.rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    }
    .nc-icon.flip-y {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    }
    .nc-icon.flip-x {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
    }
    /*------------------------
    font icons
    -------------------------*/
    .nc-archive-2::before {
    content: "\ea01";
    }
    .nc-archive-paper::before {
    content: "\ea02";
    }
    .nc-award-48::before {
    content: "\ea03";
    }
    .nc-badge-13::before {
    content: "\ea04";
    }
    .nc-bag-09::before {
    content: "\ea05";
    }
    .nc-barcode-qr::before {
    content: "\ea06";
    }
    .nc-bear-2::before {
    content: "\ea08";
    }
    .nc-bell-53::before {
    content: "\ea07";
    }
    .nc-bookmark-2::before {
    content: "\ea09";
    }
    .nc-briefcase-24::before {
    content: "\ea0a";
    }
    .nc-calendar-60::before {
    content: "\ea0c";
    }
    .nc-camera-20::before {
    content: "\ea0b";
    }
    .nc-cart-simple::before {
    content: "\ea0d";
    }
    .nc-chat-46::before {
    content: "\ea0e";
    }
    .nc-check-circle-07::before {
    content: "\ea0f";
    }
    .nc-cloud-26::before {
    content: "\ea10";
    }
    .nc-compass-05::before {
    content: "\ea11";
    }
    .nc-dashboard-level::before {
    content: "\ea12";
    }
    .nc-diamond::before {
    content: "\ea13";
    }
    .nc-edit-78::before {
    content: "\ea14";
    }
    .nc-email-84::before {
    content: "\ea15";
    }
    .nc-eye-19::before {
    content: "\ea16";
    }
    .nc-favourite-31::before {
    content: "\ea17";
    }
    .nc-flag-points-32::before {
    content: "\ea18";
    }
    .nc-flash-21::before {
    content: "\ea19";
    }
    .nc-folder-15::before {
    content: "\ea1a";
    }
    .nc-gift-2::before {
    content: "\ea1b";
    }
    .nc-grid-45::before {
    content: "\ea1c";
    }
    .nc-handout::before {
    content: "\ea1d";
    }
    .nc-heart-2::before {
    content: "\ea1e";
    }
    .nc-home-52::before {
    content: "\ea1f";
    }
    .nc-image::before {
    content: "\ea20";
    }
    .nc-key-25::before {
    content: "\ea21";
    }
    .nc-layers-3::before {
    content: "\ea22";
    }
    .nc-like-2::before {
    content: "\ea23";
    }
    .nc-link-72::before {
    content: "\ea24";
    }
    .nc-lock-open::before {
    content: "\ea25";
    }
    .nc-lock::before {
    content: "\ea26";
    }
    .nc-multiple-11::before {
    content: "\ea27";
    }
    .nc-notes::before {
    content: "\ea28";
    }
    .nc-pencil::before {
    content: "\ea29";
    }
    .nc-phone-2::before {
    content: "\ea2a";
    }
    .nc-preferences::before {
    content: "\ea2b";
    }
    .nc-send-2::before {
    content: "\ea2c";
    }
    .nc-settings-gear-63::before {
    content: "\ea2d";
    }
    .nc-single-01::before {
    content: "\ea2e";
    }
    .nc-single-folded-content::before {
    content: "\ea2f";
    }
    .nc-skull-2::before {
    content: "\ea30";
    }
    .nc-spaceship::before {
    content: "\ea31";
    }
    .nc-square-download::before {
    content: "\ea32";
    }
    .nc-square-upload::before {
    content: "\ea33";
    }
    .nc-support-16::before {
    content: "\ea34";
    }
    .nc-trash-simple::before {
    content: "\ea35";
    }
    .nc-turtle::before {
    content: "\ea36";
    }
    .nc-vector::before {
    content: "\ea37";
    }
    .nc-video-66::before {
    content: "\ea38";
    }
    .nc-wallet-43::before {
    content: "\ea39";
    }
    .nc-widget::before {
    content: "\ea3a";
    }
    .nc-world::before {
    content: "\ea3b";
    }
    .nc-zoom-2::before {
    content: "\ea3c";
    }
    /* all icon font classes list here */
    
    /* Sections */
    html {
        height: 100%;
       
    }
    
    body {
        height: 100%;
        background-color: black;
    
    }
    /* Navbar */
    .top .navbar{
    background-color: black;
    border-bottom: solid 3px #0079c1;
    z-index: 1000;
    box-shadow: 0px 5px 75px #000000;
    }
    .top .navbar-dark .navbar-nav .nav-link {
    color: #cccccc;
    font-family: 'primeregular';
    }
    .bottom .navbar{
     
        background-color: black;
        border-top: solid 3px #0079c1;
        z-index: 1000;
        box-shadow: 0px 5px 75px #000000;
        }
        .bottom .navbar-dark .navbar-nav .nav-link {
        color: #cccccc;
        font-family: 'primeregular';
        font-size: 12px;
        }
        
    /* End of Navbar */
    
    /* Home */
    .home{
    background-image: url('../../assets/img/home-background.jpg');
    height: 80%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    }
    .home .spider{
    height: 250px;
    }
    .home h2{
    font-family: 'aileronsregular';
    } 
    .home h4{
    font-family: 'aileronsregular';
    color: #9c258f;
    font-size: 17px;
    }
    .home h5 {
    font-family: 'primeregular';
    color:#666666 ;
    font-size: 17px;
    }
    .home h6{
    font-family: 'aileronsregular';   
    }
    .home .btn-outline-primary{
    font-family: 'aileronsregular';
    font-size: 25px;
    background-color: #9c258f; 
    border-color: #9c258f;
    color: #cccccc;
    box-shadow: 0px 15px 75px 1px #000000;
    }
    .home .btn-outline-secondary{
    background-color: #666666;
    color: #cccccc;
    box-shadow: 0px 15px 50px 1px #000000;
    }
 
    /* End of Home */
    