<div class="container-fluid home   d-flex align-items-center justify-content-center">
    <div class="row  ">
        <div class="col-md-12 ">
            <img src="../../assets/img/logo.png" class="spider img-fluid mx-auto d-block" alt="...">
            <h2 class=" text-center">Sitio en construcción</h2>
            <input type="button" value="Próximamente" onclick="return change(this);"
                class="my-3 mx-auto d-block btn btn-outline-primary" />
            <h5 class="text-center  mt-4">!Gracias por su visita!</h5>
        </div>
    </div>
</div>